.progress {
    width: 100px;
    height: 100px;
  }
  
  .progress-background {
    fill: none;
    stroke: #dcbc70;
    stroke-width: 5;
  }
  
  .progress-bar {
    fill: none;
    stroke: rgb(123, 199, 184);
    stroke-width: 5;
    stroke-dasharray: 0 283;
    stroke-linecap: round;
    transform-origin: center;
    transform: rotate(-90deg);
    animation: progress 2s ease-out forwards;
  }